In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../CCPP.csv')

In [6]:
df.head()

      AT     VC       AP     RH      PE  PR
0   8.34  40.77  1010.84  90.01  480.48   1
1  23.64  58.49  1011.40  74.20  445.75   2
2  29.74  56.90  1007.15  41.91  438.76   3
3  19.07  49.69  1007.22  76.79  453.09   4
4  11.80  40.66  1017.13  97.20  464.43   5